#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us','it'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp2s0 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$9mOYDlJR66PFlUcB$8jmbPx1z..QDtOuc0VM35Ie/tDsmer22qr4GKTicMTM5N4WZ7cSbz3F1Xe8jWGEGegqlwxdrQV9Ar7.t1yf5H0
# System timezone
timezone Europe/Rome --isUtc
user --name=cloudy --password=$6$bbDQ1QmAfWWej3BK$EAyw/yGvxhMQUTrUZhkUGFFSPD3Nw/x1bIDe.9Z.wh8vlioMPd8SeVx5RWM/PSK7W7H.dIfqq1B/5VJl9YhZW1 --iscrypted
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="ext4" --onpart=sda2 --label=Fedora22-boot
part swap --fstype="swap" --onpart=sda1
part / --fstype="ext4" --onpart=sda5 --label=Fedora22-data

%packages
@core
@standard

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --emptyok
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --emptyok
%end
