#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us','it'
# System language
lang en_US.UTF-8

# Network information
network --device=enp2s0 --bootproto static --ip 192.168.0.200 --netmask 255.255.255.0 --gateway 192.168.0.1 --nameserver 192.168.0.1,8.8.8.8 --activate
network --hostname=CentOS7

# Root password
rootpw --iscrypted $6$9mOYDlJR66PFlUcB$8jmbPx1z..QDtOuc0VM35Ie/tDsmer22qr4GKTicMTM5N4WZ7cSbz3F1Xe8jWGEGegqlwxdrQV9Ar7.t1yf5H0
# System services
services --enabled="chronyd"

firewall --enabled --port=22:tcp
services --disabled cups,ip6tables,kudzu,netfs,avahi-daemon,acpid
services --enabled ntpd

# System timezone
timezone Europe/Rome --isUtc
# SElinux
selinux --permissive
user --name=cloudy --password=$6$bbDQ1QmAfWWej3BK$EAyw/yGvxhMQUTrUZhkUGFFSPD3Nw/x1bIDe.9Z.wh8vlioMPd8SeVx5RWM/PSK7W7H.dIfqq1B/5VJl9YhZW1 --iscrypted
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="ext4" --onpart=sda4 --label=CentOS7-boot
part swap --fstype="swap" --onpart=sda1
part / --fstype="ext4" --onpart=sda6 --label=CentOS7-data

%packages
@base
@core
@desktop-debugging
@development
@dial-up
@directory-client
@fonts
@gnome-apps
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-applications
@internet-browser
@java-platform
@legacy-x
@multimedia
@network-file-system-client
@networkmanager-submodules
@print-client
@security-tools
@x11
chrony

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

##############################################################################
# post installation part of the KickStart configuration file
##############################################################################
%post --log=/root/post_install_log

yum -y upgrade
yum -y install lvm2
yum -y install mc
#yum -y install xen

# lower mingetty instances
cp -p /etc/inittab /etc/inittab.org
sed -i -e 's/\([3-6]:2345\)/#\1/' /etc/inittab

# disable ctrl-alt-del
sed -i -e 's/^ca:12345:ctrlaltdel:/#ca:12345:ctrlaltdel:/' /etc/inittab

# creates the public and private keys
rm -f  /root/.ssh/id_dsa.pub
ssh-keygen -t dsa -f /root/.ssh/id_dsa.pub -N "" -q

# Xen menu entry be the default one:
#grub2-set-default "Fedora, with Xen hypervisor"

# add cloudy to sudoers
echo "cloudy ALL=(ALL)       ALL" >> /etc/sudoers

# add ssh pub key
mkdir /root/.ssh
wget -q https://raw.githubusercontent.com/sdoro/ks/master/.ssh/authorized_keys
cp authorized_keys /root/.ssh
mkdir /home/cloudy/.ssh
cp authorized_keys /home/cloudy/.ssh
rm authorized_keys

%end

# bot

